@model LoginViewModel



<div class="container d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div class="card shadow-lg" style="width: 24rem;">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Zaloguj się</h3>
            <form asp-action="Login" method="post">
                <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Password" class="form-label">Hasło</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-check mb-3">
                    <input asp-for="RememberMe" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label">Pamiętaj mnie</label>
                </div>

                <button type="submit" class="btn btn-primary w-100">Zaloguj się </button>
            </form>
        </div>
    </div>
</div>